@import "../../styles/variables.css";

/* Peer Status */

.peer-status {
  display: flex;

  height: 2.5rem;
  aspect-ratio: 1;
  font-size: 2.5rem;
  position: relative;
  margin: 0 1rem;

  cursor: default;
  user-select: none;
}

.peer-status .icon {
  font-size: inherit;
}

/* Notification */

.notification {
  position: absolute;
  top: 55%;
  left: 70%;

  background-color: #e00;
  color: #e6e6e6;
  border-radius: 3px;
  padding: 1px 3px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0.75rem;
  font-variation-settings: "wght" 700;
}
.notification:hover {
  background-color: #f00;
}
